# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Output files
apps.json
vendors.json
output/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
.env/
*.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific files
.DS_Store

# VSCode workspace settings
.vscode/
